.header {
    background-color: orange;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .header-links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .header-links a:hover {
    text-decoration: underline;
  }
  